{% load staticfiles %}
{% include "home/header.html" %}


<body>
<div id="about">
<h2>About</h2>

<p> We-Fi is a crowd-sourced heat-map indicating the wifi signal strength of your surrounding area. We-Fi is targeted for networks that cover large areas, particularly college campuses. Many college campuses claim to offer wifi across their campuses, although in reality, it is often very unreliable in certain areas. We-Fi aims to help users take advantage of the areas of campus with the fastest wifi, therefore saving them time, and increasing their productivity.
</p>

<p> We-Fi incorporates a Mac App along with a Django-based web app. The Mac App collects vital data from users, particularly their GPS location along with their network strength. The web app stores this data and provides the real-time heat map of the wifi signal strength in your area.
</p>

<p> We-Fi. Speed Up. </p>
<div id="footer">Created for MHacks 2014 by Robert Maratos, Jake Weiss, Kevin Reichek, and Jeremy Sonpar, four students at Carnegie Mellon University.  Special thanks to jo, our inspiration. </div>
</div>
</div>



</body>

</html>
