<div id="about">
<p>Introducing we-fi: a crowd-sourced heat-map that indicates the wifi signal strength of your surrounding area. we-fi is targeted for networks that cover large areas, particularly college campuses. Many college campuses claim to offer wifi across their campuses, although in reality, it is often very unreliable in certain areas. we-fi aims to help users take advantage of the areas of campus with the fastest wifi.
</p>

<p> we-fi incorporates we-finder, a Mac App that collects the vital data (Recieved Signal Strength Indication (RSSI) and the GPS coordinates of your location) from users that makes we-fi possible. we-finder sends this data to we-fi, which  generates the real-time heat map of the wifi signal in your area.
</p>

<p>To get started, please download wi-finder and follow the instructions entailed. wi-finder is only available for Mac OSX at this time, although a Windows-comptible version is in the works.</p>

<p>To view the heat-map of the wifi sigal strength of your surrounding area, simply click on the map. </p>

<p> we-fi. speed up. </p>
<div id="footer">Created for MHacks 2014 by Robert Maratos, Jake Weiss, Kevin Reichek, and Jeremy Sonpar, four students at Carnegie Mellon University.  Special thanks to jo, our inspiration.</div>
</div>

Maintained on <a href="https://github.com/Stever4/wifi-server">GitHub</a>.
