{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <title>we-fi</title>
    <link rel="stylesheet" href="{% static "home/css/bootstrap.css" %}"/>
    <link rel="stylesheet" href="{% static "home/css/extra.css" %}"/>
    <script src="{% static "home/js/home.js" %}"></script>
    <script src="{% static "home/js/heatmap.js/build/heatmap.js" %}"></script>
    <script src="{% static "home/js/heatmap.js/raindrops.js" %}"></script>
</head>
<body>
    <div id="logo">
        <img src="{% static 'home/images/logo.png' %}" alt="Logo" width="390" height="270">
    </div>
