h1 {
    text-align: center;
    color: blue;
}

h2 {
    text-align: center;
    color: blue;
}

h3 {
    margin-top: 100px;
    color: black;
    font: gotham;
    position:relative;
    text-align: center;
    font-size: 80px;
}

#logo {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#about {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}
#Text {
    text-align: center;
    color: blue;
    font-size: 18px;

}

body {
    background-image: url('bg.png');
}

.btn-xlg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: blue;
    border-color: #D0D0D0;
    color: white;
    width: 400px !important;
    height: 120px !important;
    font-size: 70px;
    line-height: normal;
    -webkit-border-radius: 50px;
       -moz-border-radius: 50px;
            border-radius: 50px;
   position: relative;
   opacity: 0.8;

        }
