html, body {
        height: 100%;
        margin: 0px;
        padding: 0px
      }

#map-canvas {
    height: 90%;
    margin:0px 50px 50px;
    padding: 0px;
  }

#map_logo {
    text-align: center;
}
#map_logo img{
    height: 75px;
}
