html, body {
        height: 100%;
        margin: 0px;
        padding: 0px
      }

#map-canvas {
    height: 100%;
    margin:0px 100px 50px;
    padding: 0px;
  }

#map_logo {
    margin-right: auto;
    text-align: center;
}
